
:root{
    --main-title-color: #2E2F42; 
    --second-title-color: #FFFFFF;
    --main-text-color: #434455;
    --second-text-color: #E7E9FC;
    --main-btn-color:  #4D5AE5;
    --second-btn-color:  #FFFFFF;
    --accent-color:  #404BBF;
    --main-bcg-color: #F4F4FD;
    --second-bcg-color: #2E2F42;
}


/* body */
body{
    font-family: 'Roboto', sans-serif;
}

.list{
    list-style: none;
}
.link{
    text-decoration: none;
}
.title{
    font-size: 36px;
    line-height: 1.11;
    
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--main-title-color);
}
.subtitle{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--main-title-color);    
}
.text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.visually-hidden{
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* header */
.header-item{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2E2F42;
}
.header-item:hover, .header-item:focus{
    color: var(--accent-color);
}
.header-logo{
    font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.33;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #2E2F42;
}
.header-logo span{
    color: #4D5AE5;
}

.link-address{
    font-family: inherit;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.link-mail:hover, .link-mail:focus{
    color: var(--accent-color);
}

.btn-items{
font-family: inherit;
 font-weight: 500;
font-size: 16px;
line-height: 1.5;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
color: var(--main-btn-color);
    background: var(--main-bcg-color);
border: 1px solid #E7E9FC;
border-radius: 4px;
}
/* section1 */
.hero{
    background: var(--second-bcg-color);
}
.hero-title{
font-size: 56px;
line-height: 1.07;

letter-spacing: 0.02em;
color: var(--second-title-color);
}
.hero-btn{
    font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
display: flex;
align-items: center;
letter-spacing: 0.04em;
color: var(--second-btn-color);
background: #4D5AE5;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
cursor:pointer;
}
.hero-btn:hover,
.hero-btn:focus{
    background: #404BBF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

/* section2 */

/* section3 */

/* section4 */
.team{
    background: var(--main-bcg-color);
}

.team-card{
    background: #FFFFFF;
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
border-radius: 0px 0px 4px 4px;
}
/* footer */
.footer{
    background: var(--second-bcg-color);
}
.footer-logo{
    font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #F4F4FD;
}
.footer-logo span{
    color: #4D5AE5;
}
.footer-text{
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #E7E9FC;

}